@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* index inicia*/

/* nav inicia*/
.titulo span {
    color: rgb(255, 0, 0);
}

.nav-link {
    color: black;
}

.navbar {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

/* nav termina*/

/* img principal inicia*/
.imagen-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.imagen-principal {
    background-image: url(../img/setup-gaming-battlestation-3.png);
    height: 560px;
}

.texto {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 40px;
    font-style: italic;
}

.texto:hover {
    cursor: pointer;
}

/* img principal termina*/


/* seccion reseñas inicia*/

.categorias h2 {
    color: rgb(0, 0, 0);
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.rounded {
    box-shadow: 0 12px 16px rgba(0, 0, 0, .09);
}

.categorias img:hover {
    transition: 0.9s;
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, .09);
    cursor: pointer;
}


.categorias a {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

/* seccion reseñas termina*/


/*  seccion q somos inicia*/

.img-nosotros {
    background-image: url(../img/quienesomos.jpg);
    height: 30rem;
    filter: grayscale(1);
}


.img-nosotros:hover {
    cursor: pointer;
    filter: grayscale(0);
    transition: all 0.8s ease;
}


.text-somos {
    font-size: 18px;
}

.text-somos:hover {
    cursor: pointer;
}

.text-somos a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.text-somos a:hover{
    transition: 0.7s;
    color: brown;
}

/*  seccion q somos termina*/

/*  detalles parte footer y subtitulo inicia*/
.lineas {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.footer {
    background-color: #e1e1e1;

}
/*  detalles parte footer y subtitulo termina*/

/* index termina*/


/* mouse inicia*/
/* jumbotron inicia*/
.jumbotron {
    background-image: url(../img/bannerCalidadPrecio.jpg);
    background-position: center;
    height: 400px;
    margin-bottom: 0;
    border-radius: 0;
    color: white;
}

.jumbotron p {
    font-size: 20px;
}

/* jumbotron termina*/

/* separador TOP inicia*/
.seccionMedio {
    background-color: rgb(92, 83, 83);
    text-align: center;
    color: white;
    text-transform: capitalize;
    padding: 20px;
    margin-bottom: 0;
    font-weight: 200;
}
/* separador TOP termina*/

/*diferentes mouses*/
.nleft {
    background-image: url(/assets/img/MejorMouse.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
}

.nright {
    padding: 20px;
}

.tituloSeccion {
    color: rgb(0, 0, 0);
}

.nleft2 {
    padding: 20px;
}

.nright2 {
    background-image: url(../img/Top2.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
}

.nleft3 {
    background-image: url(../img/G203-Lightsync-4.webp);
    background-size: cover;
    background-position: center;
    height: 350px;
}

.nright3 {
    padding: 20px;
}
/*diferentes mouses*/

/* mouse termina*/


/* teclados inicia*/
/* titulo inicia*/
.fondo {
    background-image: url(../img/banner-teclado.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
    color: white;
}

.fondo h1 {
    padding-top: 90px;
}
/* titulo termina*/
/* diferentes teclados inicia */

.nleft4 {
    background-image: url(../img/MejorTeclado.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
}

.nleft5 {
    background-image: url(../img/mejorteclado3.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
}

.nright4 {
    padding: 20px;
}

.nright5 {
    background-image: url(../img/segundoteclado.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
}

/* diferentes teclados termina */

/* teclados termina*/

/* monitores inicia*/
/* titulo inicia*/
.fondo2 {
    background-image: url(../img/banner-monitor.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
    color: white;
}

.fondo2 h1 {
    padding-top: 90px;
}
/* titulo termina*/

/* diferentes monitores inicia*/
.nleft1M {
    background-image: url(../img/MejorMonitor.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
}
.nright4 {
    padding: 20px;
}

.nrightM1 {
    background-image: url(../img/top2-monitor.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
}

.nleftM2 {
    background-image: url(../img/top3-moni.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
}
/* diferentes monitores termina*/
/* monitores termina*/

/* Contacto inicia*/

/* formulario inicia*/
label {
    color: #333;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px;
}


.card {
    margin-left: 10px;
    margin-right: 10px;
}
/* formulario termina*/